@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

:root{
  --clr-Grayish-blue: hsl(237, 18%, 59%);
  --clr-Soft-red: hsl(345, 95%, 68%);
  
  --clr-White: hsl(0, 0%, 100%);
  --clr-Dark-desaturated-blue: hsl(236, 21%, 26%);
  --clr-dark-blue: hsl(235, 16%, 14%);
  --clr-Very-dark-blue: hsl(234, 17%, 12%);

  --ff-primary: 'Red Hat Text', Arial, Helvetica, sans-serif;
}
*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
}
body{
  position: relative;
  font-family: var(--ff-primary);
  background-image: url(./images/bg-stars.svg);
  background-color: var(--clr-Very-dark-blue);
  min-width: 320px;
}
.background{
  position: absolute;
  bottom: 0;
  height: calc(100px + 100vw * 0.1);
  width: 100%;
  background-image: url(./images/pattern-hills.svg);
  background-position: bottom center;
  background-repeat: repeat-x;
  background-size: cover;
}
.container{
  position: relative;
  padding: 2em;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
h2{
  color: var(--clr-White);
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: .2rem;
  text-align: center;
  margin-bottom: 3.2rem;
}
.cards{
  position: relative;
  top: calc(5vh + 0.1 * 100vh);
  width: min(100%, 510px);
}
img{
  vertical-align: bottom;
}
.contact-item{
  display: inline-block;
}
.contact-item:not(:last-of-type){
  margin-right: 2rem;
}
.cards-cd{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card{
  position: relative;
  width: min(120px, 100%);
  aspect-ratio: 1 / 1;
  flex: 1 1 0;
  margin-right: auto;
  margin-left: auto;
}
.card:not(:last-of-type){
  margin-right: 10px;
}
p{
  position: relative;
  color: var(--clr-Grayish-blue);
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: .15rem;
  text-align: center;
  width: fit-content;
  top: calc(min(120px, 100%) + 20px); 
  left: 50%;
  transform: translateX(-50%);
}
.flipping-card{
  position: absolute;
  width: min(120px, 100%);
  aspect-ratio: 1 / 1;
  margin-right: auto;
  margin-left: auto;
  color: var(--clr-Soft-red);
  font-size: min(calc(100vw * 0.103), 65px);
}
.flipping-card.before{
  z-index: 99;
}
.top, .bot{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 2 / 1;
  background-color: var(--clr-Dark-desaturated-blue);
  border-radius: min(calc(5px + 0.6vw), 13px);
  z-index: 1;
}
.bot{
  top: initial;
  bottom: 0;
}
.shadow{
  position: absolute;
  width: 100%;
  aspect-ratio: 2 / 1;
  background-color: hsla(0, 0%, 0%, .3);
  border-radius: min(calc(5px + 0.6vw), 13px);
  z-index: 99;
}
.half{
  overflow: hidden;
}
.before .half::before{
  content: attr(data);
}
.after .half::before{
  content: attr(data);
}
.half::before{
  position: absolute;
  z-index: 100;
  left: 50%; 
}
.top::before{
  bottom: -50%;
  transform: translate(-50%, 15%);
}
.bot::before{
  top: -50%;
  transform: translate(-50%, -15%);
}
.flip-top{
  animation: flip linear normal both;
  animation-duration: 0.5s;
  transform-origin: bottom;
}
.flip-down{
  animation: flip linear reverse both;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  transform-origin: top;
  z-index: 500;
}
.flip-top-infinite{
  animation: flip-infinite linear normal both;
  animation-duration: 1s;
  transform-origin: bottom;
  animation-iteration-count: infinite;
}
.flip-down-infinite{
  animation: flip-infinite linear reverse both;
  animation-duration: 1s;
  transform-origin: top;
  z-index: 500;
  animation-iteration-count: infinite;
}
@keyframes flip{
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(90deg);
  }
}
@keyframes flip-infinite{
  0% {
    transform: rotateX(0deg);
  }
  50%, 100% {
    transform: rotateX(90deg);
  }
}
@media (hover: hover){
  img:hover{
    cursor: pointer;
    filter: invert(55%) sepia(23%) saturate(3856%) hue-rotate(310deg) brightness(100%) contrast(98%);
  }
}
@media (min-width: 375px){
  h2{
    font-size: 20px;
    letter-spacing: .4rem;
  }
}